<html> 
  <head>
    <title>soundboardr</title> 
	<meta name = "viewport" content = "width = device-width">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="/css/style.css" type="text/css" media="screen" charset="utf-8">
    <script src="../scripts/plugins.js" type="text/javascript" charset="utf-8"></script>
    <script src="/scripts/jquery.js" type="text/javascript" charset="utf-8"></script>
    <script src="../scripts/soundboardr.js" type="text/javascript" charset="utf-8"></script>
    <script>	
	$(document).ready(function(){
		
		Soundboardr.init();
	
	});
	</script>
  </head>
  <body> 
	<div id="soundboard">
	</div>
  </body>
</html>